.gjs-two-color {
  color: #9e9e9e !important;
}
.gjs-four-color-h:hover {
  color: #ffffff !important;
  cursor: grab !important;
}
.gjs-four-color {
  color: #ffffff !important;
}
.gjs-pn-options {
  top: -5px !important;
}
html {
  overflow: hidden !important;
}
#gjs {
  height: 38rem !important;
  overflow: scroll;
  overflow-x: hidden;
}
